<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="771Folders"
			 connectionString="Data Source=KOUTAIBA;Initial Catalog=Hospital;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
		<add name="JACE"
			 connectionString="Data Source=jace\sqlexpress;Initial Catalog=Group7;Integrated Security=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient"/>
		<add name="Dodi"
			 connectionString="Data Source=DESKTOP-PAF1DCT;Initial Catalog=YourDatabaseName;Integrated Security=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />

	</connectionStrings>
</configuration>